* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 20%;
  height: auto;
  }

/* ---- VARIÁVEIS ----- */
:root {
  --header-height: 3rem;

  --titulo: black;
  --background: #ffc9c1;
  --background-second:#fce9e5;
  --base-color:white;
}


body {
  color: var(--titulo);

  -webkit-font-smoothing: antialiased;
}

header{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--base-color);
  width: 100%;
  position: fixed;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

#home.scroll{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.logo {
  font: 700 2rem 'Poppins', sans-serif;
  color: var(--background);
}

.logo span {
  color: var(--titulo);
}

/* ---- NAVIGATION ----- */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.show ul.grid{
  gap:4rem;
}

nav ul li{
  text-align: center;
}

nav ul li a{
  transition: color 0.2s;
  position: relative;
  font: 700 1.5rem 'Poppins', sans-serif;
  color: rgb(214, 106, 106);
}

nav ul li a:hover{
  color: var(--background);
}

nav ul li a::after{
  content:"";
  width: 0%;
  height: 2px;
  background: var(--background);
  
  position: absolute;
  left:0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after{
  width: 100%;
}

nav .menu{
  opacity:0;
  visibility: hidden;
  top:-20rem;
  transition: 0.2s;
}

nav .menu ul{
  display: none;
}

nav.show .menu{
opacity: 1;
visibility: visible;

background: var(--base-color);

height: 100vh;
width:100vw;

position:fixed;
top: 0;
left: 0;

display:grid;
place-content: center;
}

nav.show .menu ul{
  display: grid;
}

/* toggle menu*/
.toggle{
  color: var(--title-color);
  font-size: 1.5rem;
}

nav .icon-close{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top:-1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

nav.show div.icon-close{
  visibility:visible;
  opacity: 1;
  top: 1.5rem;
}

#home {
  background: var(--background);
  width:100%;
  height: auto;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

#home img{
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 11rem;
  height: 13rem;
}

#home h1 {
  font-size: 6rem;
}

#obras img{
  width: 15rem;
  height: 20rem;
}

#imagens{
  width: 100%;
  margin-top: 50px;
  display:inline-flex;
  align-items: center;
  justify-content: space-around;
  }

  #tituloimagens{
    margin-top: 50px;
    font: 700 1rem 'Poppins', sans-serif;
    width: 100%;
    margin-left: 3rem;
    display: inline-flex;
    justify-content: space-around;
  }
  
  #tituloimagens h3{
  color:#000000;
  margin-left: 7rem;
  margin-right: 16rem;
  }

  #descimagens{
    margin-top: 50px;
    font: 700 1rem 'Poppins', sans-serif;
    width: 100%;
    margin-left: 5rem;
    display: inline-flex;
    justify-content: space-around;
  }

  #descimagens p{
    color:#000000;
    margin-left: 5rem;
    margin-right: 17rem;
    }

    #preco{
      margin-top: 50px;
      font: 700 1rem 'Poppins', sans-serif;
      width: 100%;
      margin-left: 5rem;
      display: inline-flex;
      justify-content: space-around;
    }

    #preco R{
      color:#000000;
      margin-left: 4rem;
      margin-right: 17rem;
      padding: 2rem;
      background: var(--background);
      border-radius: 3rem;
      }
  
  #imagens2{
    width: 100%;
    margin-top: 50px;
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
    }
    
  #tituloimagens2{
    margin-top: 50px;
    font: 700 1rem 'Poppins', sans-serif;
    width: 100%;
    margin-left: 5rem;
    display: inline-flex;
    justify-content: space-around;
    }
  
  #tituloimagens2 h3{
    color:#000000;
    margin-left: 7rem;
    margin-right: 16rem;
    }

    #descimagens2{
      margin-top: 50px;
      font: 700 1rem 'Poppins', sans-serif;
      width: 100%;
      margin-left: 5rem;
      display: inline-flex;
      justify-content: space-around;
    }
  
    #descimagens2 p{
      color:#000000;
      margin-left: 5rem;
      margin-right: 16rem;
    }

    #preco2{
      margin-top: 50px;
      font: 700 1rem 'Poppins', sans-serif;
      width: 100%;
      margin-left: 5rem;
      display: inline-flex;
      justify-content: space-around;
    }

    #preco2 R{
      color:#000000;
      margin-left: 4rem;
      margin-right: 17rem;
      padding: 2rem;
      background: var(--background);
      border-radius: 3rem;
    }

    #imagens3{
      width: 100%;
      margin-top: 50px;
      display:inline-flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }
      
    #tituloimagens3{
      margin-top: 50px;
      font: 700 1rem 'Poppins', sans-serif;
      width: 100%;
      margin-left: 5rem;
      display: inline-flex;
      justify-content: space-around;
    }
        
    #tituloimagens3 h3{
      color:#000000;
      margin-left: 5rem;
      margin-right: 20rem;
    }
      
    #descimagens3{
      margin-top: 50px;
      font: 700 1rem 'Poppins', sans-serif;
      width: 100%;
      margin-left: 6rem;
    }
      
    #descimagens3{
      display: inline-flex;
      justify-content: space-around;
    }
      
    #descimagens3 p{
      color:#000000;
      margin-left: 5rem;
      margin-right: 19rem;
    }

    #preco3{
      margin-top: 50px;
      font: 700 1rem 'Poppins', sans-serif;
      width: 100%;
      margin-left: 6.5rem;
      display: inline-flex;
      justify-content: space-around;
    }
    
    #preco3 R{
      color:#000000;
      margin-left: 3rem;
      margin-right: 19rem;
      padding: 2rem;
      background: var(--background);
      border-radius: 3rem;
      margin-bottom: 8rem;
    }

  #redes{
    background: var(--background);
    width:100%;
    height: auto;
    margin-top: -2rem;
    margin-bottom: 3rem;
  }
        
  #redes .container h2 {
    background: var(--background);
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 2rem;
    display: inline-block;
    font: 700 2rem 'Poppins', sans-serif;
  }
        
  #redes .button i, 
  #redes .container{
    margin-bottom: 3rem;
  }
          
        
  #redes ul li i{
    font-size: 2.3rem;
    margin-right: 0.625rem;
    color:var(--title-color);
  }
        
  #redes ul.grid{
    gap:2rem;
    margin: bottom 2rem;
  }
        
  #redes ul li{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
        
   #imagem3 img {
    margin-left: 55rem;
    margin-top: -12rem;
    margin-bottom: 4rem;
    position: relative;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
        }
        